<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}Expense Tracker{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header class="header">
  <div class="container header-inner">
    <h1 class="logo">Expense Tracker</h1>

    <nav class="nav">
      <a href="{{ url_for('home') }}">Home</a>
      <a href="{{ url_for('add') }}">Add</a>
      <a href="{{ url_for('months') }}">Months</a>
    </nav>
  </div>
</header>


  <main class="container">
    {% block content %}{% endblock %}
  </main>

</body>
</html>
